img {
    width: 165x;
    height: 100px;
    margin-left: 10px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #d9d9d9;
}

h1 {
    text-align: center;
    font: small-caps ultra-expanded bold;
    font-size: 50px;
    margin-bottom: -19px;
}

.options {
    text-align: center;
    font-size: 18px;
}

#menu {
    list-style: none;
    padding: 0;
}

#menu li {
    display: inline;
}

#menu a {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.modal-content li {
    text-align: left;
}

.modal:target {
    display: block;
}

.modal-close {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}

.login {
    position: absolute;
    top: 40px;
    right: 10px;
    display: flex;
    align-items: center;
}

#showLogin,
#showRegister {
  margin-right: 10px; /* Adjust this value as needed */
}

.login input[type="text"],
.login input[type="password"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #555;
}

#multiplayer {
    display: none;
} 

#leave {
    display: none;
    margin-left: 10px;
} 

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    gap: 0;
    text-align: center;
    padding: 10px; 
    width: 450px; 
    height: 500px;
    opacity: 0.6;
}

.cell {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 90px; 
    height: 83,3px; 
}
.cell:nth-child(12n + 1),
.cell:nth-child(12n + 3),
.cell:nth-child(12n + 5),
.cell:nth-child(12n + 7),
.cell:nth-child(12n + 9),
.cell:nth-child(12n + 11) {
    background-color: #f59f1f;
}

.cell:nth-child(12n + 2),
.cell:nth-child(12n + 4),
.cell:nth-child(12n + 6),
.cell:nth-child(12n + 8),
.cell:nth-child(12n + 10),
.cell:nth-child(12n + 12) {
    background-color: rgb(131, 70, 0);
}

.cell:nth-child(odd) {
    background-color: #f59f1f; 
}

.cell:nth-child(even) {
    background-color: rgb(131, 70, 0); 
}




.pieces {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pieces.white {
    margin-right: 20px; 
}

.pieces.black {
    margin-left: 20px; 
}

.dec-pieces{
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    margin: 5px 0; 
    top: 50%; 
    transform: translateY(-50%); 
}

.piece {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    margin: auto;
    border-top: 20px, 
}

.white {
    background-color: rgb(206, 206, 206);
}

.black {
    background-color: rgb(7, 7, 7);
}

.highlight-up::before {
    content: ''; 
    display: block;
    position: absolute; 
    background-color: rgb(77, 77, 77);
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    margin: auto;
}

.highlight-down::before {
    content: ''; 
    display: block;
    position: absolute; 
    background-color: rgb(77, 77, 77);
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    margin: auto; 
}

.highlight-left::before {
    content: ''; 
    display: block;
    position: absolute; 
    background-color: rgb(77, 77, 77);
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    margin: auto; 
}

.highlight-right::before {
    content: '';
    display: block;
    position: absolute; 
    background-color: rgb(77, 77, 77);
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    margin: auto;
}

.selected-white {
    background-color: rgb(141, 141, 141);
}

#message-area {
    position: absolute;
    bottom: 150px;
    text-align: center;
    font: small-caps ultra-expanded bold;
    font-size: 20px;
}

.game-options{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-button button{
    background-color: #f5f5f5;
    color: #1d1d1d;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    display: flex;
}

.game-options button:hover {
    background-color: #e7e7e7;
}

.bottom-buttons {
    display: flex;
}

.bottom-button {
    margin-right: 10px;
    position: relative;
    background-color: #f5f5f5;
    color: #1d1d1d;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.bottom-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f5f5f5;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

.bottom-options label {
    max-width: 80%;
    margin: 4px 0;
    cursor: pointer;
    font-size: 16px;
}

.bottom-button:hover .bottom-options,
.bottom-button:focus .bottom-options {
    display: flex;
}

.bottom-options label {
    margin: 4px 0;
}

.game-over-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    border: 3px solid #333;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    font-size: 24px;
    max-width: 600px;
}

.restartButton {
    background: #525252;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    max-width: 400px;
}
